html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}

.container {
	margin: 0 auto;
	max-width: 940px; 
	padding: 0 10px; 
  
}


/* Header */
.header {
  height: 800px;
  text-align: center; 
  background-color: #C6E2FF;
  backgourd-size: cover;
}