html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    font-size: 16px;
}
.container {
    min-width: 320px;
    margin: 0 auto;
}

.header {
    padding: 20px;
}

.row .col-1 a{
    text-decoration: none !important; 
    color: #000000;  
}

.header h1 {
    margin: 0;
    margin-left: 2cm;
    padding: 0;
    font-family: fantasy, Arial, Sans-Serif;
    color: #000000;
}


.nav li {
    color: #fff;
    margin-left: 1cm;
    font-family: Verdana, Arial, Sans-Serif;
    color: #FFFFFF;

    display: inline-block;
    
}

.nav li a{
    text-decoration: none !important;
}


.nav li:hover {
    -webkit-box-shadow: 0 0 8px #00ffbc;
    -moz-box-shadow: 0 0 8px #00ffbc;
    box-shadow: 0 0 8px #00ffbc;
    cursor:pointer;
}

.highlighted{
    display: inline;
    margin-right: 50px;
}

/* For first page*/
.jumbotron {
    background: url(../img/background.jpg) no-repeat center center;
    background-size: cover;
    height: 700px;
    padding-top: 25px;
    margin-bottom: 0;
}



.jumbotron p {
    margin-top: 40px;
    color: #fff;
    font-size: 55px;
    font-family: cursive;
    text-align: center;
}

/* for about page*/

.jumbotron2 {
    background: url(../img/background2.jpg) no-repeat center center;
    background-size: cover;
    height: 1000px;
    padding-top: 25px;
    margin-bottom: 0;
}


.jumbotron2 p {
    color: #fff;
    text-align: center;
    font-size: 40px;
    font-family: cursive;
}


/* for PROJECTS page*/

.jumbotron3 {
    background-image: url("../img/background3.jpg");
    background-size: 50%;
    background-size: cover;
    height: 600px;
    padding-top: 25px;
    margin-bottom: 0;
}

img.displayed {
    margin-top: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto 
}


.jumbotron3 p {
    color: #000000;
    text-align: center;
    margin-bottom: 100px;
    font-size: 40px;
    font-family: monospace;
}

.linkedin{
  text-align: center;
}

.linkedin a{
    text-decoration: none !important;
    color: blue;
    font-weight: bold;
    font-size: 20px;
    font-family: monospace;
}


.footer {
    height: 20px;
    padding: 20px 0px 75px;
    background-color: #eee;
    font-size: 14px;
}
.footer p {
    float: left;
    margin-left: 4cm;
    width: 20%;
}
.footer a {
    color: #000000;
}

.a-right {
    text-align: center;
}





