html,
body {
    background: url(../img/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
    background-size: cover;    
    margin: 0 auto;
    padding: 0;
    width: 100%;
    font-family: 'Merriweather', serif;
    background-origin: content-box;
}
.container {
    min-width: 320px;
    margin: 0 auto;
}

.header {
    padding: 20px;
}

.row .col-1 a{
    text-decoration: none !important; 
    color: #000000;  
}


.header h1 {
    margin: 0;
    margin-left: 2cm;
    padding: 0;
    font-family: Verdana;
    color: #00ff00;
}


.nav li {
    color: #fff;
    margin-left: 1cm;
    font-family: Verdana, Arial, Sans-Serif;
    color: #FFFFFF;
    display: inline-block;  
}

.nav li a{
    text-decoration: none !important;
}


.nav li:hover {
    -webkit-box-shadow: 0 0 8px #00ffbc;
    -moz-box-shadow: 0 0 8px #00ffbc;
    box-shadow: 0 0 8px #00ffbc;
    cursor:pointer;
}

.highlighted{
    display: inline;
    margin-right: 50px;
}

/* For first page*/

#img1{
    position: relative;
    left: 30px;

}
#img2{
    position: absolute;
    top: 300px;
    left: 300px;
    

}
#img3{
    position: absolute;
    top: 500px;
    left: 600px;

}

.jumbotron .nav{
    position: absolute;
    padding-left: 5px;
    bottom: 10px;
    font-size: 14px;
}

.jumbotron a{
    color: #00ff00;
}



.footer {
    position: absolute;
    padding-left: 5px;
    bottom: 10px;
    font-size: 14px;
}
.footer p {
    float: left;
    margin-left: 4cm;
}
.footer a {
    color: #00ff00;
}

.a-right {
    text-align: center;
}





